<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
	href="resources/bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<title>Insert title here</title>
<style type="text/css">
html, body {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
}

.headli {
	font-family: "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
	font-size: 15px;
	margin-left: 12.5px;
	margin-right: 12.5px;
}
</style>
</head>
<body>
	<div class="container-fluid" id="notelist">
		<div class="row">
			<div class="mydiv col-md-12 thick-green-border center-vertical"
				style="padding: 0px">
				<div class="col-md-12 thick-green-border center-vertical"
					style="padding: 0px">
					<nav class="navbar navbar-expand-lg navbar-light"
						style="background-color: black">

						<div class="collapse navbar-collapse"
							id="bs-example-navbar-collapse-1">
							<ul class="navbar-nav">
								<li class="nav-item"><a class="" href="#"> <span
										style="font-family: 华文行楷; line-height: 61px; padding: 0px; margin-right: 30px; font-size: 25px;"
										class="myhead col-md-2 thick-green-border">南阳五巨头</span></a></li>
								<li class="headli"><a class="" href="#"><span
										style="line-height: 61px; height: 61px; color: #FFFFFF">笔记大全</span></a></li>
								<li class="headli"><a class="" href="#"><span
										style="line-height: 61px; height: 61px; color: #FFFFFF">笔记大全</span></a></li>
								<li class="headli"><a class="" href="#"><span
										style="line-height: 61px; height: 61px; color: #FFFFFF">笔记大全</span></a></li>
								<li class="headli"><a class="" href="#"><span
										style="line-height: 61px; height: 61px; color: #FFFFFF">笔记大全</span></a></li>
							</ul>

							<ul class="navbar-nav ml-md-auto">
								<li class="nav-item active"><a class="nav-link" href="#"><img
										class="rounded-circle" height="50px" width="50px"
										src="resources/person.jpeg" alt="头像" /> </a></li>

								<li class="nav-item dropdown" ><a
									class="nav-link dropdown-toggle" href="http://example.com"
									id="navbarDropdownMenuLink" data-toggle="dropdown" style="color: #FFFFFF">**用户</a>
									<div class="dropdown-menu dropdown-menu-right" style="width: 50px">
										<a class="dropdown-item" href="#">我的笔记</a> <a
											class="dropdown-item" href="#" >我的视频</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">我的资料</a>
									</div>
								</li>
							</ul>
						</div>
					</nav>

				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript"
		src="resources/bower_components/jquery/dist/jquery.slim.js"></script>
	<script type="text/javascript"
		src="resources/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript"
		src="resources/bower_components/axios/dist/axios.js">
	</script>
	<script type="text/javascript"
		src="resources/bower_components/vue/dist/vue.js">
	</script>
	<!-- 这是搞js实现往cookie中存值用的 -->
	<script type="text/javascript"
		src="resources/bower_components/jquery-cookie/jquery.cookie.js">
	</script>
</body>
</html>